@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

:root{
    --primary: rgba(22, 26, 62, 1);
    --primary2: rgba(195, 189, 243, 1);
    --primary3: rgb(89, 71, 231);
    --secondary: rgba(238, 120, 108, 1);
    --tertiary: rgba(231, 138, 0, 1);
    --black: rgba(36, 36, 36, 1);
    --white: rgba(239, 253, 255, 1);
    --white2: rgba(245, 245, 249, 1);
    --shadow: rgba(0, 0, 0, 10%);
    --red: rgba(191,29,41,1);
    --dark-red: rgb(114, 18, 25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.gradient{
    background: rgb(238,120,108);
    background: -moz-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    

}

#heavy{
    color: var(--primary3);
   }

body{
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white2);
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
}

h2{
    font-weight: 700;
    font-size: 1.25rem;
}

p{
    font-weight: 400;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

.heavy{
    font-weight: 700;
}

.shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}


.index-container{
    display: flex;
    flex-direction: column;

}

.header{
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 2rem;
}


#company-logo{
    width: 2.5rem;
    margin-right: 0.2rem;

}

.greetings, .section-header{
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.greetings h2, .section-header h2{
    font-size: 1.35rem;
}

.main-btn{
    padding: 12px 12px 6px 12px;
    justify-content: center;
    border-radius: 100%;
    transition: all 0.3s ease-in;
}


/* ----- Swiper Section ----- */

.swiper {
    width: 100%;
    height: 100%;

  }

.swiper-slide {
    text-align: center;
    font-size: 18px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: -1rem;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }


/* ----- News Section ----- */


.news h1{
    margin-bottom: 1.5rem;
}  

.news-details{
    margin-bottom: 2rem;
    text-align: justify;
    /* margin: auto -1.5rem auto -1.5rem; */
}

.news-title, .coin-title{
    text-align: left;
    margin-bottom: 5px;
}




.news-details p{
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}


.see-news{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.see-news a, .view-market a{
    color: var(--white);
}


.primary-btn{
    width: 100%;
    font-size: 0.95rem;
    color: var(--white2);
    letter-spacing: 1px;
    font-family: 'Space Grotesk', 'sans-serif';
    border: none;
    border-radius: 5px;
    /* background: rgb(54,45,121); */
    background-color: var(--black);
    transition:  all 0.3s ease-in-out;
}

.news-btn, .market-btn{
    padding: 1rem 2rem;

}

.primary-btn:hover, .primary-btn:active{
    background: rgb(238,120,108);
    background: -moz-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    transform: scale(1.02);
}

/* ----- Trending Section ----- */

.trending-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 5rem;
}


.trending-container > div {
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: flex;
    border-radius: 5px;
    transition: background-color 0.4s ease-in, transform 0.3s ease-in;
    background-color: var(--white2);
    color: var(--black);
}


.trending-container > div:hover{
    background: rgb(238,120,108);
    background: -moz-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    transform: scale(1.02);
    color: var(--white);
}

.trending-container img{
    width: 100%;
}

.trending-container p {
    margin: 0.25rem auto 0.25rem auto;
}

.rank {
    font-size: 2.25rem;
    margin-left: -1rem;
    color: var(--black);
}

.coin-details p{
    font-weight: 700;
}

/* ----- Market View Section ----- */

.market-container{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.column-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 1rem;
}

.coin-market-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--white);
    margin-bottom: 1rem;
    /* gap: 7px; */
    transition: all 0.3s ease;
}

.coin-market-names{
    text-align: left;
}

.coin-market-div:hover, coin-market-div:active{
    transform: scale(1.05);
    background: rgb(238,120,108);
    background: -moz-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
    background: linear-gradient(90deg, rgba(238,120,108,1) 0%, rgba(23,15,83,1) 100%);
}

.coin-market-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* font-size: 0.65rem; */
    margin-left: -2rem;
}

.coin-market-details img{
    width: 25px;
    height: auto;
}

.hide-coin-detail, .hide-coin-detail-xl{
    display: none;
}

.positive{
    color: green;
}

.negative{
    color: red;
}

.market-btn{
    color: var(--white2);
}

.market-rank {
    width: 50%;
}

.column-header .coin-market-name{
    margin-left: -2rem;
}

.market-btn-top{
    display: none;
}

.market-btn-bottom{
    margin-bottom: 5rem;
}

.modal-market-content{
    /* display: flex; */
    text-align: center;
    font-size: 0.5rem;
}

.modal{
    justify-content: center;
}



.modal-content{
font-size: 0.85rem;
}

.coin-main-details{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 2rem;
margin-bottom: 1.5rem;
width: 50%;
margin-left: auto;
margin-right: auto;
}


.coin-main-details img{
width: 50px;
height: 50px;
margin-right: 0.5rem;
}

/* ----------------------------------- Market View Page -----------------------------------  */ 

/* Search Section */

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-area input{
    padding: 0.5rem 2.25rem;
    border: none;
    border-radius: 5px;
}

.search-btn{
    padding: 0.5rem 1rem;
    background-color: var(--white2);
    border-radius: 5px;
}

.search-btn:hover, .search-btn:active {
    background-color: var(--black);
    color: var(--white2);
}

.search-label{
    font-family: 'Space Grotesk', sans-serif;
}

.pagination {
    font-size: 0.85rem;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.market-rank{
    cursor: pointer;
}




/* ----------------------------------- News Page -----------------------------------  */ 

.news-card {
    background-color: var(--white2);
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.3s ease-in;
}

.news-card:hover{
    background-color: var(--primary2);
    color: var(--white);
    transform: scale(1.03);
}

.news-card img{
    width: 100%;
}

/* Filter */

.filter{
    margin: 1rem auto 1.25rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    gap: 0.5rem;
    align-items: center;

}

.filter-btn{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    justify-content: center;
}

.filter-btn p {
    font-size: 0.5rem;
    font-weight: 400;
    margin-left: 2px;
}


.newest:hover, .oldest:hover, .previous:hover, .next:hover, .main-btn:hover {
    transform: scale(1.03);
    color: var(--white);
    background-color: var(--primary);
}



/* News Modal */

.modal{
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.7);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    transition: all 0.4s ease-out;
}

.modal-content, .market-modal-content{
    background-color: var(--white);
    padding: 2.5rem 2rem;
    margin: auto 1rem;
    border-radius: 5px;
}

.modal-content img{
    width: 100%;
}

.exit-modal {
    float: right;
    padding: 1rem;
    border-radius: 100%;
    background-color: var(--red);
    margin: -1rem auto 1.5rem auto;
    transition: all 0.3s ease-in;
}

.exit-modal:hover{
    background-color: var(--dark-red);
}

.modal-news-content h1{
    margin-top: 1rem;
    font-size: 1.7rem;
}


.exit-modal svg path{
    stroke: var(--white);
    stroke-width: 2px;
}

.view-source-btn, .news-modal-return-btn, .modal-return-btn{
    margin-top: 2rem;
    width: 100%;
    padding: 0.8rem 0.5rem;
}

.view-source-btn a, .news-modal-return-btn{
    color: var(--white);
}

.modal-return-btn, .news-modal-return-btn{
    margin-top: 0.5rem;
    background-color: var(--red);
    font-size: 1.05rem;
}

.modal-return-btn a{
    color: var(--white);
    font-weight: 700;
}



/* ----------------------------------- Media Queries -----------------------------------  */


/* ---------- Tablet View ---------- */

@media(min-width: 40rem){

/* ----- Index Page ----- */

/* News Section */
.index-container, .news-main-container{
    width: 37.5rem;
    margin: auto auto;
}

.header h1{
    font-size: 2rem;
}

#company-logo{
    width: 2.5rem;
}

.greetings{
    width: 37.5rem;
    margin-left:  auto;
    margin-right:  auto;
}

.greetings h2{
    font-size: 1.75rem;
}


/* Trending Section */

.trending-container{
    width: 37.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
}

.grid-1{
    grid-column: span 2;
    justify-content: center;
}

/* Market View Section */

.market{
    width: 37.5rem;
    margin: auto;
}

.coin-market-div, .column-header{
    grid-template-columns: repeat(6, 1fr);
}

.hide-coin-detail{
    display: block;
}

/* Market View Section */
.market-btn-top{
    display: block;
}

.market-btn-bottom{
    display: none;
}




/* ----- News Page ----- */

.main-btn{
    padding: 20px 20px 15px 20px;

}

/* Filter */

.filter{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    gap: 2rem;
}
.filter-btn{
    padding: 10px 20px;
}

.filter-btn p {
    font-size: 1.05rem;
    margin-left: 4px;
}

svg{
    width: 25px;
    height: 25px;
}


.news-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
} 


.news-container h2{
    font-size: 1.75rem;
    margin: 0.5rem auto;
}

.news-container p {
    font-size: 1rem;
}

.news-card {
    margin-bottom: 2rem;
}

.news-details{
    padding: 2rem;
}

/* Modal */

.modal{
    justify-content: center;
}

.modal-content, .market-modal-content{
    width: 30rem;
}

.modal h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal p{
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

}



/* ---------- Desktop View ---------- */

@media(min-width: 60rem){

/* News Feature */

.index-container, .trending-container, .market{
    width: 50rem;

}

.header h1{
    font-size: 3rem;
}

.greetings h2{
    font-size: 2.5rem;
    
}

/* News Page */

.greetings, .header, .news-main-container{
    width: 50rem;
    margin: auto;
}

.header{
    margin: 3rem auto 5rem auto;
}

.greetings{
    margin-bottom: 2rem;
}

/* Filter */


.filter-btn p{
    font-size: 1.25rem;
}
.filter svg{
    width: 25px;
    height: 25px;
}

/* Modal */

.modal{
    justify-content: center;
    align-items: center;
}

.modal-content, .market-modal-content{
    width: 40rem;
}

.modal h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.modal p{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.coin-main-details{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

/* Market Section */

.coin-market-div, .column-header{
    grid-template-columns: repeat(7, 1fr);
}

.hide-coin-detail-xl{
    display: block;
}

}


@media(min-width: 75rem){

    /* News Feature */
    
    .index-container, .trending-container, .market, .greetings{
        width: 60rem;
    }
}